.c-hero {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20%;
  color: var(--white);
  background: radial-gradient(var(--lightLavender), var(--darkLavender));

  &__ribbon {
    position: absolute;
    z-index: 100;
    transform: translateY(80%);
  }

  &__portrait {
    height: 75svh;
    width: auto;
    position: absolute;
    z-index: 0;
    pointer-events: none;

    --portrait-x-from: 10%;
    --portrait-x-to: 10%;
    --portrait-y-from: 40%;
    --portrait-y-to: 60%;

    transform: translate(var(--featured-x-from), var(--featured-y-from), scaleX(-1));

    animation: portrait-scale linear forwards;
    animation-timeline: scroll(root block);
    animation-duration: 5s;
    animation-range: 0% 25%;
  }

  &__occupation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 4svw;
    font-weight: 400;
    line-height: 5.5svw;
    pointer-events: none;
    top: 30%;
    right: 58%;

    svg {
      position: relative;
      --item-x-from: 0%;
      --item-x-to: 0%;
      --item-y-from: 0%;
      --item-y-to: -300%;

      transform: translate(var(--item-x-from), var(--item-y-from));

      animation: scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 20%;
    }

    h4 {
      font-weight: 300;
      --item-x-from: 0%;
      --item-x-to: -100%;
      --item-y-from: 0%;
      --item-y-to: 0%;

      transform: translate(var(--item-x-from), var(--item-y-from));

      animation: scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 20%;
    }
  }

  &__banner {
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    bottom: 2rem;
  }
}

@media (min-width: 800px) {
  .c-hero {
    &__portrait {
      height: 85svh;
      --portrait-x-from: 30%;
      --portrait-x-to: 30%;
      --portrait-y-from: 25%;
      --portrait-y-to: 40%;
    }
    &__ribbon {
      transform: translateY(50%);
    }
  }
}

@media (width >= 900px) {
  .c-hero {
    align-items: center;

    &__ribbon {
      transform: translateY(0%);
    }

    &__portrait {
      height: 115svh;

      --portrait-x-from: 60%;
      --portrait-x-to: 60%;
      --portrait-y-from: 12%;
      --portrait-y-to: 30%;
    }

    &__occupation {
      gap: 4rem;
      font-size: 2svw;
      margin-right: 6rem;
      font-weight: 400;
      line-height: 3svw;
      pointer-events: none;
      top: auto;
      right: auto;

      svg {
        --item-x-from: 0%;
        --item-x-to: 0%;
        --item-y-from: 0%;
        --item-y-to: -300%;
      }
      h4 {
        --item-x-from: 0%;
        --item-x-to: 0%;
        --item-y-from: 0%;
        --item-y-to: 100%;
      }
    }
    &__banner {
      bottom: 1rem;
    }
  }
}

@keyframes portrait-scale {
  from {
    transform: translate(var(--portrait-x-from), var(--portrait-y-from)) scaleX(-1);
  }
  to {
    transform: translate(var(--portrait-x-to), var(--portrait-y-to)) scaleX(-1);
  }
}

@keyframes scroll-move {
  from {
    transform: translate(var(--item-x-from), var(--item-y-from));
  }
  to {
    transform: translate(var(--item-x-to), var(--item-y-to));
  }
}
