.c-toggle-button {
  --size: 3rem;
  width: var(--size);
  aspect-ratio: 1;
  position: absolute;
  top: var(--top);
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 9999;
  border: none;
  outline: none;
  pointer-events: all;
  background: var(--charcoal);

  &:hover {
    background: var(--charcoal-active);
  }

  span {
    position: absolute;
    width: 60%;
    height: 4px;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s ease-in-out;

    &:nth-child(1) {
      width: 30%;
      left: 20%;
      transform: translateY(calc(var(--size) / -5));
    }

    &:nth-child(2) {
      width: 20%;
      left: 20%;
      transform: translateY(calc(var(--size) / 5));
    }
  }
}

.c-toggle-button[data-active='true'] {
  right: 1rem;
  background: transparent;

  span:nth-child(1) {
    width: 60%;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
  }

  span:nth-child(2) {
    width: 60%;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
  }

  span:nth-child(3) {
    transform: translateX(160%);
  }
}

@media (min-width: 900px) {
  .c-toggle-button {
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}