.c-navigation {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 250;
  font-size: 0.8rem;
  letter-spacing: 0.9px;
  color: var(--white);
  transition: backdrop-filter 1s ease;
  pointer-events: none;  

  &__logo {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    width: 60vw;
    height: 100dvh;
    padding: min(30dvh, 30dvh) 2em;
    background: hsla(0, 0%, 0%, 0.4);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 350ms ease-in;
    pointer-events: auto; 

    &-item {
      padding: 1rem;
      position: relative;

      &-link {
        display: inline-block;
        will-change: transform;
        font-weight: 250;
      }
    }
  }

  &[data-visible='true'] {
    backdrop-filter: blur(1rem);
    .c-navigation__logo {
      filter: blur(1rem);
    }
    .c-navigation__menu {
      transform: translateX(0%);
    }
  }

  &[data-route='other'] {
    font-weight: 500;

    .c-navigation__logo {
      display: block;
      position: absolute;
      top: 3rem;
      left: 2rem;
      color: var(--charcoal);
      transition: filter 1s ease;
      opacity: 1;
      animation: nav-hide linear;
      animation-timeline: scroll(root block);
      animation-range: 0% 10%;
      animation-fill-mode: both;
    }
    .c-navigation__menu-item-link {
      font-weight: 500;

      svg path {
        stroke: var(--charcoal);
      }
    }
  }
}

@media (width >= 900px) {
  .c-navigation {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem clamp(2rem, 1vw, 10rem);
    opacity: 1;
    animation: nav-hide linear;
    animation-timeline: scroll(root block);
    animation-range: 0% 10%;
    animation-fill-mode: both;

    &__logo {
      display: block;
      position: relative;
      font-size: 1.2rem;
    }

    &__menu {
      position: relative;
      width: auto;
      height: auto;
      flex-direction: row;
      align-items: center;
      padding: 0rem;
      background: transparent;
      backdrop-filter: unset;
      transform: unset;
      justify-content: space-between;

      &-item-link {
        padding: 1rem;
      }
    }
    &[data-route='other'] {
      color: var(--charcoal);
      font-weight: 400;
      & .c-navigation__logo {
        position: relative;
        top: auto;
        left: auto;
      }
      & .c-navigation__menu-item-link {
        color: var(--charcoal);
        font-weight: 400;
        svg path {
          stroke: var(--charcoal);
        }
      }
    }
  }
}

@keyframes nav-hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-15%);
  }
}
