.slideshow {
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

}
.carousel-track {
  overflow: visible !important;
}
.info-container {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  padding: 4rem 0 0 4rem;
}

.info-container::before {
  content: '';
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 2px dashed #f1ece8;
  animation: rotation 200s linear infinite;
}

.info-container::after {
  content: '';
  position: absolute;
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 2px dashed #f1ece8;
  animation: rotation 200s linear infinite reverse;
}

.project-info {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Inria Sans', sans-serif;
  z-index: 10;
  gap: 1rem;
  backdrop-filter: blur(5px);
  padding: 1.5rem;
  border-radius: 8px;
}

.project-info h2 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.project-info p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.project-links {
  display: flex;
  gap: 1.5rem;
}

.project-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2rem;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-position: center 1.5rem;
  background-repeat: no-repeat;
  overflow: hidden;
}

.project-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.595);
  scale: 1.1;
}

.project-button span {
  font-size: 0.5rem;
  font-weight: bold;
  display: none;
  transition: all 0.5s ease-in-out;
}

.project-button span::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.136);
  backdrop-filter: blur(5px);
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.project-button:hover span {
  display: block;
  transition: all 0.5s ease-in-out;
}

.live-demo-button {
  background-color: #4caf50;
  color: white;
}

.github-button {
  background-color: #24292e;
  color: white;
}

.carousel-container {
  width: 100%;
  height: 35vh;
  position: relative;
  bottom: -30%;
  right: -25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-container::before {
  content: '';
  position: absolute;
  width: 120%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 2px dashed #f1ece8;
  animation: rotation 200s linear infinite;
  transform-origin: center center;
  z-index: 1;
}

.carousel-container::after {
  content: '';
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 90%;
  border: 2px dashed #f1ece8;
  animation: rotation 200s linear infinite reverse;
  transform-origin: center center;
  z-index: 1;
}

.controls {
  display: flex;
  height: 5rem;
  overflow: scroll;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 8rem;
  margin-right: 2rem;
  z-index: 15;
  /* background: rgba(255, 255, 255, 0.433); */
  /* backdrop-filter: blur(10px); */
  border-radius: 15px;
}

.control {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  transition: outline 0.5s;
  border: none;
  margin: 0.7rem;
}

.control-active {
  outline: 0.3rem solid #7dbd77;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  padding: 10px 20px;
  margin: 0 .5rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: .9rem;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover:not(.inactive) {
  background-color: #0056b3;
}

.nav-button.inactive {
  background-color: #cccccc;
  cursor: not-allowed;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width >= 900px) {
  .slideshow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .slideshow::before {
    font-size: 6.5rem;
  }
  .info-container {
    width: 58%;
    height: 100%;
    padding: unset;
  }
  .project-info {
    max-width: 65%;
  }

  .project-info h2 {
    font-size: 2rem;
  }

  .project-info p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .carousel-container {
    bottom: -40%;
    right: -5%;
    width: 42%;
    height: 60%;
  }

  .controls {
    height: 5rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
    flex-wrap: wrap;
  }
  .nav-button {
    font-size: 1.2rem;
  }
}
