:root {
  --white: #fff;
  --lightLavender: #a7a3d8;
  --darkLavender: #585672;
  --blue: #03254e;
  --goldenYellow: #E7B13B;
  --richBrown: #885310;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
