.container {
  height: 100svh;
  position: relative;
  overflow: auto;
  box-shadow: inset 0 8rem 100px -8rem rgba(0, 0, 0, 0.933), inset 0 -8rem 100px -8rem rgba(0, 0, 0, 0.933);
  transition: background 10s ease-in-out 1s;
  display: flex;
  align-items: center;
  background: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.main {
  display: block;
  height: 100%;
  transition: transform 800ms ease-in-out;
  color: var(--white);
}

.screen {
  min-width: 100svw;
  max-width: 100svw;
  min-height: 100svh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
  scroll-snap-align: start;
  flex: 0 0 100%;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}

#heroWrapper {
  height: 100svh;
  width: 100svw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: auto;
  object-fit: cover;
  position: fixed;
  z-index: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  height: 65svh;
  bottom: -5rem;
  left: 2rem;
  transform: none;
}

.heroImageStageAbout {
  height: 90svh;
  bottom: -30%;
  left: -30%;
  transition: all 0.5s ease-in-out;
}

.heroImageStageGone {
  transform: translateX(-200%);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.heroTitle {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  position: absolute;
  font-size: 6em;
  font-weight: 900;
  letter-spacing: 0.2em;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  margin-right: -0.3em;
  /* transform: rotate(180deg) !important; */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: 1.5rem;
  left: 1rem;
}

.titleAboutSection {
  font-size: 3.7em;
  writing-mode: unset;
  text-orientation: upright;
  top: unset;
  left: 20%;
  bottom: 10%;
}

.titlePortfolioSection {
  font-size: 4em;
  z-index: 9999;
}

.heroTitleOutline {
  color: transparent;
  -webkit-text-stroke: 5px white;
  z-index: 5;
  pointer-events: none;
}

.heroMessage {
  font-family: 'Kaisei Decol', sans-serif;
  width: 60%;
  font-size: 0.7em;
  font-weight: 200;
  letter-spacing: 0.3em;
  line-height: 1.2rem;
  color: white;
  position: absolute;
  bottom: 65%;
  right: 5%;
  z-index: 5;
  pointer-events: none;
}

@media (width >= 900px) {
  .heroImageStageHero {
    height: 90svh;
    left: 5rem;
    bottom: 0;
  }

  .heroImageStageAbout  {
    height: 120svh;
    bottom: -35%;
    left: -4%;
  }
  .heroImageStageGone {
    height: 120svh;
    bottom: -35%;
    left: -4%;
  }

  .heroTitle {
    font-size: 15svw;
  }

  .titleHeroSection {
    writing-mode: unset;
    text-orientation: upright;
    top: unset;
    left: 10%;
  }

  .titleHeroSection::before {
    content: "Hello, I'm ";
    font-size: 0.1em;
    font-weight: 100;
    letter-spacing: 0.3em;
    line-height: 1.2rem;
    font-family: 'Kaisei Decol', sans-serif;
    color: white;
    position: absolute;
    right: 5%;
    z-index: 5;
    pointer-events: none;
  }

  .titleAboutSection {
    font-size: 10svw;
    top: unset;
    left: 20%;
    bottom: 5%;
  }

  .titlePortfolioSection {
    font-size: 11.5svh;
    top: 2rem;
    left: 1rem;
    margin-right: -0.3em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg) !important;
  }

  .titleSection4 {
    top: 40%;
    left: 40%;
  }

  .heroMessage {
    width: 30%;
    bottom: 7rem;
    right: unset;
    left: 40%;
    font-size: 0.8em;
  }
}
