.c-about-section {
  height: 100svh;
  width: 100svw;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  &_content {
    display: flex;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    order: 1;
    text-align: left;
    margin-top: 5rem;

    &-message-primary {
      color: black;
      font-size: 1.1rem;
      font-weight: 300;
    }
    &-secondary {
      font-size: 0.8rem;
      font-weight: 200;
      padding-right: 6.5rem;
      width: 80%;
    }
  }
  &_container {
    height: 30svh;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #d9d9d9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-aboutme {
      position: absolute;
      transform: translate(40%, -200%);
    }

    &-codepen {
      position: absolute;
      transform: translate(25%, -160%);
    }

    &-featured {
      height: 55%;
      aspect-ratio: 1;
      border-radius: 50%;
      position: absolute;
      transform: translate(-65%, -160%);
      border: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;

      &::before {
        content: 'Featured Open-Source';
        font-size: 0.7rem;
        position: absolute;
        transform: translate(-60%, -390%);
        color: #6f7074;
        width: 50%;
      }

      &-github {
        position: absolute;
        transform: translate(35%, -25%);
      }

      &-npm {
        position: absolute;
        transform: translate(25%, 30%);
      }
    }
  }
}

@media (min-width: 900px) {
  .c-about-section {
    justify-content: flex-start;
    gap: 5rem;

    &_content {
      flex-direction: row;
      margin-top: 10rem;
      gap: 15rem;

      &-message-primary {
        font-size: 2rem;
        font-weight: 400;
      }
      &-secondary {
        font-size: 1.1rem;
        font-weight: 200;
      }
    }
    &_container {
      height: 65svh;
      margin-bottom: 2rem;

      &-codepen {
        transform: translate(-160%, 0%);
      }

      &-aboutme {
        transform: translate(120%, -70%);
      }

      &-featured {
        font-size: 1rem;
        height: 45%;
        transform: translate(250%, 70%);

        &::before {
          font-size: 1rem;
          transform: translate(-50%, -600%);
          width: auto;
        }

        &-github {
          transform: translate(45%, -10%);
        }

        &-npm {
          transform: translate(20%, 40%);
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .c-about-section {
    &_container {
      &-codepen {
        transform: translate(-250%, 0%);
      }

      &-aboutme {
        transform: translate(150%, -100%);
      }

      &-featured {
        height: 30%;
        transform: translate(300%, 90%);

        &::before {
          transform: translate(-100%, -800%);
        }

        &-github {
          transform: translate(60%, -10%);
        }

        &-npm {
          right: 20%;
          bottom: -10%;
        }
      }
    }
  }
}
