.c-about-section {
  height: 100svh;
  width: 100svw;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  scroll-timeline: aboutScroll block;

  &_content {
    display: flex;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    order: 1;
    text-align: left;
    margin-top: 2rem;

    &-message-primary {
      color: black;
      font-size: 1.1rem;
      font-weight: 300;
    }
    &-secondary {
      font-size: 0.8rem;
      font-weight: 200;
      padding-right: 6.5rem;
      width: 80%;
    }
  }
  &_container {
    height: 30svh;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #d9d9d9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);

    &-aboutme {
      --aboutme-x: 60%;
      --aboutme-x-to: 60%;
      --aboutme-y-from: -300%;
      --aboutme-y-to: -300%;

      transform: translate(var(--aboutme-x), var(--aboutme-y-from));

      animation: aboutme-scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 30%;
    }

    &-codepen {
      --aboutme-x: -55%;
      --aboutme-x-to: -55%;
      --aboutme-y-from: -380%;
      --aboutme-y-to: -280%;

      transform: translate(var(--aboutme-x), var(--aboutme-y-from));

      animation: aboutme-scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 30%;
    }

    &-resume {
      --aboutme-x: 60%;
      --aboutme-x-to: 60%;
      --aboutme-y-from: -260%;
      --aboutme-y-to: -240%;

      transform: translate(var(--aboutme-x), var(--aboutme-y-from));

      animation: aboutme-scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 30%;
    }

    &-github {
      --aboutme-x: -20%;
      --aboutme-x-to: -20%;
      --aboutme-y-from: -220%;
      --aboutme-y-to: -220%;

      transform: translate(var(--aboutme-x), var(--aboutme-y-from));

      animation: aboutme-scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 30%;
    }

    &-npm {
      --aboutme-x: -90%;
      --aboutme-x-to: -160%;
      --aboutme-y-from: -120%;
      --aboutme-y-to: -180%;

      transform: translate(var(--aboutme-x), var(--aboutme-y-from));

      animation: aboutme-scroll-move linear forwards;
      animation-timeline: scroll(root block);
      animation-duration: 5s;
      animation-range: 0% 30%;
    }
  }
}

@media (min-width: 400px) {
  .c-about-section {
    &_container {
      &-aboutme {
        --aboutme-x: 65%;
        --aboutme-x-to: 65%;
        --aboutme-y-from: -360%;
        --aboutme-y-to: -400%;
      }

      &-codepen {
        --aboutme-y-from: -400%;
        --aboutme-y-to: -420%;
      }

      &-resume {
        --aboutme-y-from: -300%;
        --aboutme-y-to: -320%;
      }

      &-github {
        --aboutme-y-from: -260%;
        --aboutme-y-to: -280%;
      }

      &-npm {
        --aboutme-y-from: -180%;
        --aboutme-y-to: -270%;
      }
    }
  }
}

@media (min-width: 800px) {
  .c-about-section {
    &_content {
      margin-top: 3rem;
      &-message-primary {
        font-size: 2rem;
        font-weight: 400;
      }
      &-secondary {
        font-size: 1.1rem;
        font-weight: 200;
      }
    }
    &_container {
      &-aboutme {
        --aboutme-x: 140%;
        --aboutme-x-to: 100%;
        --aboutme-y-from: -380%;
        --aboutme-y-to: -360%;
      }

      &-codepen {
        --aboutme-x: 170%;
        --aboutme-x-to: -90%;
        --aboutme-y-from: -420%;
        --aboutme-y-to: -400%;
      }

      &-resume {
        --aboutme-x: -10%;
        --aboutme-x-to: 60%;
        --aboutme-y-from: -400%;
        --aboutme-y-to: -360%;
      }

      &-github {
        --aboutme-x: -120%;
        --aboutme-x-to: -40%;
        --aboutme-y-from: -320%;
        --aboutme-y-to: -300%;
      }

      &-npm {
        --aboutme-x: -140%;
        --aboutme-x-to: -160%;
        --aboutme-y-from: -250%;
        --aboutme-y-to: -280%;
      }
    }
  }
}

@media (min-width: 900px) {
  .c-about-section {
    justify-content: flex-start;
    gap: 5rem;

    &_content {
      flex-direction: row;
      margin-top: 5rem;
      gap: 15rem;

      &-secondary {
        font-size: 1.3rem;
        font-weight: 200;
      }
    }
    &_container {
      height: 65svh;
      margin-bottom: 2rem;
      transform: translateY(0%);
      &-aboutme {
        --aboutme-x: 120%;
        --aboutme-x-to: 120%;
        --aboutme-y-from: -40%;
        --aboutme-y-to: -70%;
        animation-range: 0% 55%;
      }

      &-codepen {
        --aboutme-x: -140%;
        --aboutme-x-to: -160%;
        --aboutme-y-from: 10%;
        --aboutme-y-to: -20%;
        animation-range: 0% 35%;
      }

      &-resume {
        --aboutme-x: -160%;
        --aboutme-x-to: -140%;
        --aboutme-y-from: 60%;
        --aboutme-y-to: 50%;
        animation-range: 0% 35%;
      }

      &-github {
        --aboutme-x: 160%;
        --aboutme-x-to: 180%;
        --aboutme-y-from: 50%;
        --aboutme-y-to: 15%;
        animation-range: 0% 35%;
      }

      &-npm {
        --aboutme-x: 180%;
        --aboutme-x-to: 180%;
        --aboutme-y-from: 90%;
        --aboutme-y-to: 80%;
        animation-range: 0% 35%;
      }
    }
  }
}

@media (min-width: 1600px) {
  .c-about-section {
    &_container {
      &-codepen {
        --aboutme-x: -220%;
        --aboutme-x-to: -260%;
        --aboutme-y-from: 10%;
        --aboutme-y-to: -50%;

        transform: translate(-250%, 0%);
      }

      &-resume {
        --aboutme-x: -240%;
        --aboutme-x-to: -260%;
        --aboutme-y-from: 60%;
        --aboutme-y-to: 50%;

        transform: translate(-260%, 50%);
      }

      &-aboutme {
        --aboutme-x: 150%;
        --aboutme-x-to: 150%;
        --aboutme-y-from: -50%;
        --aboutme-y-to: -100%;
        animation-range: 0% 30%;
      }

      &-github {
        --aboutme-x: 200%;
        --aboutme-x-to: 260%;
        --aboutme-y-from: 50%;
        --aboutme-y-to: 0%;
        animation-range: 0% 35%;
      }

      &-npm {
        --aboutme-x: 220%;
        --aboutme-x-to: 280%;
        --aboutme-y-from: 90%;
        --aboutme-y-to: 100%;
        animation-range: 0% 35%;
      }
    }
  }
}

@keyframes aboutme-scroll-move {
  from {
    transform: translate(var(--aboutme-x), var(--aboutme-y-from));
  }
  to {
    transform: translate(var(--aboutme-x-to), var(--aboutme-y-to));
  }
}

