.c-contact-section {
  width: 100svw;
  position: relative;
  background: var(--charcoal);
  padding: 8rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  overflow: clip;

  --contact-y-from: -50%;
  --contact-y-to: 0%;

  transform: translateY(var(--contact-y-from));

  animation: contact-scroll-move linear forwards;
  animation-timeline: scroll(root block);
  animation-duration: 5s;
  animation-range: 80% 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--title {
      font-size: 2rem;
      font-weight: 300;
      color: var(--white);
      letter-spacing: -0.02em;
    }

    svg {
      width: 50%;
      height: auto;
      opacity: 0.8;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 0.05rem;

    &--group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: relative;

      &::before {
        content: var(--label);
        font-size: 0.8rem;
        color: var(--gray300);
        font-weight: 400;
        position: absolute;
        top: -1.2rem;
      }

      &:first-child {
        flex: 1 1 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
      }

      &:nth-child(2),
      &:nth-child(3) {
        flex: 1;
      }
    }

    &--text {
      font-size: var(--fs-default);
      font-weight: 400;
      color: var(--white);
    }
  }
}

@media (min-width: 400px) {
  .c-contact-section {
    &__header {
      &--title {
        font-size: 2.5rem;
      }

      svg {
        width: 150px;
      }
    }

    &__info--text {
      font-size: var(--fs-sm, var(--fs-default));
    }
  }
}

@media (min-width: 800px) {
  .c-contact-section {
    padding: 8rem 7rem 4rem;

    &__info {
      flex-wrap: nowrap;
      gap: 4rem;

      &--group {
        &:first-child {
          order: 2;
          gap: 3rem;
          flex: 3;
        }

        &:nth-child(2) {
          order: 1;
        }

        &:nth-child(3) {
          order: 3;
        }
      }

      &--text {
        font-size: var(--fs-md, var(--fs-sm, var(--fs-default)));
      }
    }
  }
}

@media (min-width: 900px) {
  .c-contact-section {
    padding: 10% 15% 4%;

    &__header {
      &--title {
        font-size: 4rem;
      }

      svg {
        width: 30%;
      }
    }

    &__info {
      flex-wrap: nowrap;

      &--group {
        &:first-child {
          gap: 5rem;
          flex: 2;
        }
        &:nth-child(2),
        &:nth-child(3) {
          flex: 0.5;
        }
      }

      &--text {
        font-size: var(--fs-mdx, var(--fs-md, var(--fs-sm, var(--fs-default))));
      }
    }
  }
}

@media (min-width: 1600px) {
  .c-contact-section {
    padding: 10% 25% 4%;

    &__header {
      &--title {
        font-size: 5rem;
      }
    }

    &__info--text {
      font-size: var(--fs-lg, var(--fs-mdx, var(--fs-md, var(--fs-sm, var(--fs-default)))));
    }
  }
}

@keyframes contact-scroll-move {
  from {
    transform: translateY(var(--contact-y-from));
  }
  to {
    transform: translateY(var(--contact-y-to));
  }
}
