.c-contact-section {
  width: 100svw;
  position: relative;
  background: var(--charcoal);
  padding: 8rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  overflow: clip;

  --contact-y-from: -50%;
  --contact-y-to: 0%;

  transform: translateY(var(--contact-y-from));

  animation: contact-scroll-move linear forwards;
  animation-timeline: scroll(root block);
  animation-duration: 5s;
  animation-range: 80% 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--title {
      font-size: 2rem;
      font-weight: 300;
      color: var(--white);
      letter-spacing: -0.02em;
    }

    svg {
      width: 50%;
      height: auto;
      opacity: 0.8;
    }
  }
}

@media (min-width: 400px) {
  .c-contact-section {
    &__header {
      &--title {
        font-size: 2.5rem;
      }

      svg {
        width: 150px;
      }
    }
  }
}

@media (min-width: 800px) {
  .c-contact-section {
    padding: 8rem 7rem 4rem;
    &__header {
      svg {
        width: 30%;
      }
    }
  }
}

@media (min-width: 900px) {
  .c-contact-section {
    padding: 10% 20% 4% 15%;

    &__header {
      &--title {
        font-size: 4rem;
      }

      svg {
        width: 30%;
      }
    }
  }
}

@media (min-width: 1600px) {
  .c-contact-section {
    &__header {
      &--title {
        font-size: 5rem;
      }
    }
  }
}

@keyframes contact-scroll-move {
  from {
    transform: translateY(var(--contact-y-from));
  }
  to {
    transform: translateY(var(--contact-y-to));
  }
}
